p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
}
a{
    color: #585959;
    text-decoration: none;
    font-size: 16px;
}
.text{
    margin-left: 10px;
    margin-right: 10px;
}
.img {
    display: block;
    width:90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.responsive-video {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: #FEFEFE !important;
	color: #181717;
}
.navbar-title {
	font-family: 'Roboto', sans-serif;
	background-color: #FEFEFE !important;
	color: limegreen;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.container {
	max-width: 960px;
}

}
.contents{
	width: 100%;

}
.contents .thumbnail {
	height: 390px;
}


.navbar-title a:hover {
	color: darkseagreen !important;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.header {
	margin-top: 80px;
	margin-bottom: 0;
	padding: 8px 16px 8px 16px;
	height: 150px;
	vertical-align: middle;
	display: inline-block;
	width: 100%
}
.header a {
	color: darkseagreen!important;
}

.header h2 {
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 30px;
}
.sub-text {
    font-family: 'Roboto', sans-serif;
}

.row {
	padding: 8px 16px 8px 16px;
}
.contents {
	margin-bottom: 30px;
}

.page3 .thumbnail {
	background-image: url(../images/Page3-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
.contents a .thumbnail:hover {
	background-color: darkseagreen;
	opacity: 0.7;
}
.page4 .thumbnail {
	background-image: url(../images/Page4-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
.page5 .thumbnail {
	background-image: url(../images/Page5-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
