.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: none;
    height: 58px;
    width: 165px;
}
p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;
}
a{
    color: #585959;
    text-decoration: none;
}
.text{
    margin-left: 10px;
    margin-right: 10px;
}
.img {
    display: block;
    width:90%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.responsive-video {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


body {
	font-family: 'Roboto', sans-serif;
	background-color: #FEFEFE !important;
	color: #181717;
}

.container {
	max-width: 960px;
}

}
.contents{
	width: 100%;

}
.contents .thumbnail {
	height: 390px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.header {
	margin-top: 80px;
	margin-bottom: 0;
	padding: 8px 16px 8px 16px;
	height: 380px;
	vertical-align: middle;
	display: inline-block;
	width: 100%
}
.header a {
	color: blue !important;
}
.header h2 {
	font-size: 38px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.row {
	padding: 8px 16px 8px 16px;
}
.contents {
	margin-bottom: 30px;
}

.page3 .thumbnail {
	background-image: url(../images/Page3-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
.contents a .thumbnail:hover {
	background-color: blue;
	opacity: 0.7;
}
.page4 .thumbnail {
	background-image: url(../images/Page4-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
.page5 .thumbnail {
	background-image: url(../images/Page5-Thumbnail.png);
	background-position: center center;
	background-size: cover;
}
